:root {
    --primary-font: 'Manrope', sans-serif;
    --cyan: hsl(193, 38%, 86%);
    --neon: hsl(150, 100%, 66%);
    --primary: hsl(218, 23%, 16%);
    --secondary: hsl(217, 19%, 24%);
    --tertiary: hsl(217, 19%, 38%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary);
}

main {
    height: 100svh;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
    /* width: 340px; */
    width: 90%;
    /* height: 300px; */
    height: 45%;
    background-color: var(--secondary);
    border-radius: 0.9rem;
    padding: 0.8rem 0.8rem 0 0.8rem;
}

.advice-header {
    margin-top: 1rem;
    text-align: center;
    color: var(--neon);
    font-size: 1rem;
    font-weight: 100;
}

.advice {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--cyan);
    text-align: center;
    height: 60%;
    max-height: 60%;
    padding: 1rem 0;
}

.divider {
    align-self: center;
    content: url(./images/pattern-divider-mobile.svg);
}

.button-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 30%;
}

.button {
    border-radius: 50%;
    padding: 1.2rem;
    width: fit-content;
    background-color: var(--neon);
    border: none;
    position:absolute;
    transform: translate(0,50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    box-shadow: 0px 0px 10px 15px hsl(150, 100%, 66%, 0.3);
}

@media screen and (min-width: 700px) {
    main {
        align-items: center;
    }

    .card {
        margin-top: 0;
        width: 60%;
    }
    
}

@media screen and (min-width: 1100px) {
    .card {
        width: 40%;
    }
    .divider {
        content: url(./images/pattern-divider-desktop.svg);
    }
}

.attribution { 
    font-size: 0.8rem;
    text-align: center;
    color: var(--cyan)
 }

.attribution a {
    color: hsl(228, 45%, 44%);
}